.main_image {
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-image: url("../../images/main-image.jpeg"); */
  background-color: rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  font-size: 2.4em;
  color: rgb(0, 0, 0);
}

.span {
  font-size: 30px;
  color: rgb(0, 0, 0);
  display: block;
}
